* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

.wrap {
  margin: 0 auto;
  width: 80%;
}

header {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #696969;
}

section.main {
  height: auto;
  padding: 50px 0 50px;
}

section.main .wrap {
  background: #F8F8FF;
  height: auto;
}

section.main .wrap h2 {
  margin-left: 50px;
  padding-top: 50px;
  font-size: 28px;
}

section.main .main_area {
  margin-top: 50px;
}

section.main .main_area .choice_mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.main .main_area .choice_mode i {
  font-size: 20px;
  cursor: pointer;
  margin-right: 20px;
}

.list_view {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list_view .list_view_block {
  -webkit-box-shadow: -1px -1px 15px 0px rgba(50, 50, 50, 0.75);
          box-shadow: -1px -1px 15px 0px rgba(50, 50, 50, 0.75);
  height: auto;
  width: 30%;
  margin-top: 50px;
  min-width: 250px;
  background-color: #fff;
}

.list_view .list_view_block .image_block {
  overflow: hidden;
}

.list_view .list_view_block .image_block img {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  max-width: 100%;
  min-width: 100px;
}

.list_view .list_view_block .image_block img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.list_view .list_view_block p:first-of-type {
  font-weight: bold;
  font-size: 20px;
}

.list_view .list_view_block p:last-of-type {
  font-size: 18px;
}

.main_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 100px 0 20px;
}

.main_pagination .pagination {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main_pagination .pagination a {
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  border: 2px solid #1E90FF;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.main_pagination .pagination a:hover {
  background-color: #1E90FF;
  color: #fff;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.main_pagination .pagination .current_page {
  display: none;
}

@media screen and (max-width: 850px) {
  .current_page {
    display: block !important;
  }
  .number_page {
    display: none;
  }
  .pagination {
    width: 70% !important;
  }
  .pagination a {
    padding: 5px 10px 5px 10px !important;
  }
}
/*# sourceMappingURL=main.css.map */